.cart-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h3.mt-5 {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-bottom: 20px;
}

.cart-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-heading h3 {
  font-size: 20px;
  margin: 0;
  color: #444;
}

.cart-heading .price {
  font-size: 18px;
  color: #2b8a3e;
  margin-left: 20px;
}

.cart-page p {
  margin: 5px 0;
  color: #555;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control-inc,
.quantity-control-dec {
  background-color: transparent;
  border: 1px solid #ccc;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.quantity-control-dec:hover {
  background-color: #ddd;
}

.quantity-control-inc:hover {
  background-color: #ddd;
}

.remove-button {
  background-color: transparent;
  color: red;
  border: 2px solid transparent;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-left: 10px;
}


.cart-subtotal {
  text-align: right;
  font-size: 20px;
  margin-top: 30px;
}

.cart-subtotal h4 {
  color: #333;
  font-weight: bold;
}

.continue-shopping-btn {
  border: none;
  background-color: transparent;
  padding: 10px 30px;
  color: gray;
}

.proceed-to-payment-btn {
  background-color: transparent;
  color: black;
  font-size: 14px;
  padding: 12px 30px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 50px;
}

.proceed-to-payment-btn:hover {
  color: white;
  background-color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.445);
}

.proceed-to-payment-btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
}

.proceed-to-payment-btn:focus {
  outline: none;
  border: 2px solid #0056b3;
}

/* Responsive Design for Button */
@media (max-width: 768px) {
  .proceed-to-payment-btn {
    font-size: 16px;
    padding: 12px 25px;
  }
}
