.help-container{
    margin-top: 80px;
   input{
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    padding: 20px 0px;
    border: none;
   }
}

.help-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        letter-spacing: 2px;
        margin: 30px 0px;
    }
    p{
        margin-top: 10px;
    }
}